.title {
  margin: 1em 0;
  text-align: center;
}

.description,
.details {
  margin: 1em 2em;
  text-align: center;
}

.details {
  font-weight: bold;
}

.photoOffertsBox {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em; 
  margin: 2em auto;
  max-width: 1200px;

  .photoOffertWrapper {
    position: relative;
    flex: 1 1 300px; 
    max-width: 350px;
    height: auto;
    overflow: hidden;
    aspect-ratio: 4 / 3; 

    &:hover .photoOffertsOpacity {
      transform: translateY(0%);
      cursor: pointer;
    }
  }

  .photoOffertsButton {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
  }

  .photoOffertsOpacity {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(89, 149, 108, 0.6);
    transition: transform 0.3s ease-in-out;
    z-index: 1;

    .photoOffertsDescription {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 1em;
    }
  }
}

@media (max-width: 768px) {
  .photoOffertsBox {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1em;
  }

  .photoOffertWrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2em;
  }

  .photoOffertsButton {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .photoOffertsOpacity {
    transform: translateY(0%) !important; 
    background-color: rgba(255, 255, 255, 0.7); 
    transition: none;

    .photoOffertsDescription {
      color: #000;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
    }
  }
}
