

.findStyleBox {
    margin: 3em auto; 
    display: flex;
    justify-content: center;
    align-items: stretch; 
    flex-direction: row;
    gap: 20px;
    min-height: 500px;      
    max-width: 1200px; 
    padding: 0 20px; 
    &.reverse {
        flex-direction: row-reverse;
    }
}

.findStyleTitle{
    font-size: 12px;
}


.findStyleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 2.2em;
    width: 50%;
}

.findStyleDescription{
    margin: 2em 0;
    white-space: pre-line;
}

.findStyleImage {
    max-width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;

    img {
        width: 75%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .findStyleBox {
        flex-direction: column-reverse !important;
        max-width: 100%; 
    }

    .findStyleWrapper {
        width: 100%; 
        text-align: center;
        margin: 1em 0; 
    }

    .findStyleImage {
        max-width: 100%;
        
        img {
            width: 100%; 
        }
    }
}