.wrapper {
    position: relative;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
  }
  
  .slideWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .active {
    opacity: 1;
    z-index: 1;
  }
  
  .inactive {
    opacity: 0;
    z-index: 0;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    padding: 100px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .overlay {
      justify-content: center;
      align-items: center;
      padding: 40px;
    }
  }
  