@use '../../scss/colors.scss' as *;


.whyMarbudMain {
  margin: 3em auto;
  padding: 20px 0;
  max-width: 1200px;
}

.whyMarbudTitle {
  text-align: center;
  margin-bottom: 2em;
  span{
  font-size: 2rem;
  }

}


.whyMarbudWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 2em auto;
  padding: 0 1em;
}

.whyMarbudItem {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.marbudIcon {
  width: 60px;
  height: 60px;
  margin-bottom: 1em;
  color: $green-color;
}

.benefitTitle {
  margin-bottom: 0.8em;
  font-size: 1.2em;
}

.benefitText {
  line-height: 1.5;
}

.whyMarbudBtn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .whyMarbudWrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .whyMarbudItem {
    max-width: 100%;
    width: 100%;
  }
}