//background-nav-desktop

.nav {
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 20;
    font-size: 0.9rem;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 20px; 
}


.burgerIcon{
    z-index: 4;
    position: fixed;
    right: 0;
    padding: 1em;
    top: -10px;
    display: none;
    width: 2.5em;
    height: 2.5em;
    margin-right: 2px auto;
}

.socialPosition {
    display: flex;
    gap: 20px; 
    font-size: 1.6rem;
    margin-left: auto; 
}
.socialPosition:hover{
    cursor: pointer;
    color: #59956C;
}

.mobileLogo{
    margin: -1.5em 1rem;
    padding-bottom: 2em;
    z-index: 30;
}

.navScrolls{
    background-color:rgba(0, 0, 0, 0.5)
}


.mobileMenuItems{
    background-color: #000;
    opacity: 0.9;
    list-style-type: none;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 3rem 0rem;
    text-transform: uppercase;
    .mobileMenuItem{
        margin-top: 0.8em;
        padding: 1em 1.4em;
        z-index: 30;
        text-decoration: none;
        color: #fff;
        &:hover{
            cursor: pointer;
            color: #59956C;
        }
    }
    }

.closeIcon{
    z-index: 4;
    position: fixed;
    right: 0;
    padding: 1em;
    top: -10px;
    display: none;
    width: 2.5em;
    height: 2.5em;
    margin-right: 2px auto;
}

.desktopMenuItems {
    list-style-type: none;
    display: flex;
    gap: 20px; 
    text-transform: uppercase;
    margin-left: 20px; 
}
  
  .desktopMenuItem {
    display: flex;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
  
    &:hover {
      color: #59956C;
      cursor: pointer;
    }
  }


@media (max-width: 768px){
    .burgerIcon, .closeIcon {
        display: block;
        right: 15px; 
        top: -2px;
        margin-right: -10px; 
    }
    .desktopMenuItems, .socialIcon{
        display: none;
    }
    .navScrolls{
    background-color: rgba(0,0,0,0.5);
    }
}