
@media (max-width: 768px){
    .footerWrapper{
        align-content: center;
        flex-direction: column;
    }
    .socialMediaPosition{
        justify-content: center;
    }
    .footerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2em;
        width: 100%;
        max-width: none;
        margin: 1em;
    }
}