*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/LexendDeca-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/LexendDeca-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/LexendDeca-Bold.woff2') format('woff2');
}


html,body{
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    font-display: swap;
}

main{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}



