@use './colors.scss' as *;

.title-color{
    color: $green-color;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.title-margin{
    text-align: center;
    margin: 3em auto;
}

.page-wrapper{
    min-height: 500px;      
    max-width: 1200px; 
    margin: 3em auto; 
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

